/* CSS Resets */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Styles */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Roboto', sans-serif;
}

li>a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar styles */

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-auto-rows: 100px min-content;
    row-gap: 32px;
    align-items: center;
    background-color: #00aeff;
    color: #ffffff;
    font-weight: 900;
}

.sidebar>* {
    margin-left: 32px;
}

.sidebar .logo {
    font-size: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2rem;
    align-items: center;
    column-gap: 8px;
}

.sidebar .nav-main ul,
.sidebar .nav-misc ul {
    display: grid;
    row-gap: 8px;
    font-size: 1.2rem;
}

.sidebar li a {
    display: grid;
    grid-template-columns: 1.2rem;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 24px;
}

/* Header styles */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-left: 16px;
    color: black;
    row-gap: 16px;
    padding: 24px;
    padding-left: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Search bar */
.header .search {
    display: inline-grid;
    align-items: center;
    grid-template-columns: min-content auto;
    column-gap: 8px;
}

.header .search-icon {
    width: 24px;
}

.search .search-bar input[type="search"] {
    width: 100%;
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 4px;
    background-color: #e0e0e0;
}

/* Account info & Notification */

.header .account-info {
    display: inline-grid;
    align-items: center;
    justify-content: end;
    column-gap: 24px;
    grid-template-columns: repeat(3, min-content);
    margin-right: max(80px, 20%);
}

.header .account-info a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 24px;
    position: relative;
    padding: 2px;
}

.header .account-info svg {
    min-width: 24px;
}

.header .account-info img {
    min-width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.header .account-info .user-name.small {
    white-space: nowrap;
    font-weight: 900;
}

/* Account greeting */

.header .account-greeting {
    display: grid;
    display: inline-grid;
    align-items: center;
    grid-template-columns: min-content 2fr;
    column-gap: 16px;
}

.header .account-greeting img {
    min-width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.header .account-greeting .greetings {
    font-weight: 900;
}

.header .account-greeting .greeting-top {
    font-size: 0.8rem;
}

.header .account-greeting .user-name {
    font-size: 1.2rem;
}

/* Header Actions */

.header ul.actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    column-gap: 32px;
    justify-content: center;
}

.header ul.actions li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul.actions li button {
    appearance: none;
    border: none;
    background-color: #00aeff;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    padding: 8px 24px;
    border-radius: 40px;
    justify-self: center;
    align-items: center;
    grid-column: span 1;
    flex: 1 0 auto;
}