/* CSS Resets */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Styles */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Roboto', sans-serif;
}

li>a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar styles */

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-auto-rows: 100px min-content;
    row-gap: 32px;
    align-items: center;
    background-color: #00aeff;
    color: #ffffff;
    font-weight: 900;
}

.sidebar>* {
    margin-left: 32px;
}

.sidebar .logo {
    font-size: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2rem;
    align-items: center;
    column-gap: 8px;
}

.sidebar .nav-main ul,
.sidebar .nav-misc ul {
    display: grid;
    row-gap: 8px;
    font-size: 1.2rem;
}

.sidebar li a {
    display: grid;
    grid-template-columns: 1.2rem;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 24px;
}

/* Main style */
.main {
    margin-left: 16px;
}

/* Header styles */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 16px;
}

.header .search {
    display: inline-grid;
    align-items: center;
    grid-template-columns: min-content auto;
    column-gap: 8px;
}

.search .search-bar input[type="search"] {
    width: 100%;
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 4px;
    background-color: #e0e0e0;
}